/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body{
    overflow: hidden;
}

::-webkit-scrollbar {
    height:0px;
    width:0px;
    background: none;
}